.content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:5px
}
.content__input{
    border: solid gainsboro 1px;
    border-radius: 4px;
    height: 40px;
    min-width: 320px;
}
.content__span{
    color:red;
    position: absolute;
    top:100%;
    left: 15px;
}